@using ProductApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container mt4">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row center-block">
            <div class="col s12 offset-l3 l6 offset-m2 m8 blue accent-1 z-depth-3 pb2">
                <h3 class="center">Log in</h3>
                <h6 class="center">Use a local account to login in</h6>
                <hr class="mt1" />
                @Html.ValidationSummary("", new { @class = "red-text center mb2" })
                <br />
                <div class="input-field">
                    @Html.TextBoxFor(m => m.Email, new { @class = "validate white-text" })
                    @Html.LabelFor(m => m.Email, new { @class = "white-text" })
                </div>
                <div class="input-field">
                    @Html.PasswordFor(m => m.Password, new { @class = "validate white-text" })
                    @Html.LabelFor(m => m.Password, new { @class = "white-text" })
                </div>
                <div>
                    <label for="chkBox">
                        <input type="checkbox" id="chkBox" />
                        <span class="white-text">Remember me?</span>
                    </label>
                </div>
                <div class="my2 mb2">
                    <button class="btn waves-effect waves-green right btn-large white black-text" type="submit" id="button">
                        Login
                        <i class="material-icons  black-text right">send</i>
                    </button>
                </div>
            </div>
        </div>
    }
    <div class="row center">
        <div class="col s12 center">
            <h2>OR</h2>
        </div>
    </div>
    <div class="row center-block">
        <div class="col s12 offset-l2 l8 offset-m2 m8 mt2 center">
            <button class="waves-effect waves-light btn-large blue" id="facebook">
                <i class="fab fa-facebook pr1"></i> Login with Facebook
            </button>
            <button class="waves-effect waves-light btn-large red">
                <i class="fab fa-google pr1"></i> Login with Google
            </button>
        </div>
    </div>
</div>

<div class="col">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


